
@{
    ViewData["Title"] = "Market List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<OTS.Core.DTOModels.MarketList>
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Market List</h5>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Market Name</th>
                                <th>Commision</th>
                                <th>UserName</th>
                                <th>Transactions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MarketName</td>
                                    <td>@item.Commision</td>
                                    <td>@item.UserName</td>
                                    <td>
                                        <a class="btn btn-warning" href="/Market/Update/@item.MarketId">
                                            <i class="fa fa-bell">&nbsp;&nbsp;Güncelle&nbsp;</i>
                                        </a>

                                        <a class="btn btn-danger" href="/Market/Delete/@item.MarketId">
                                            <i class="fa fa-minus-circle">&nbsp;&nbsp;Delete&nbsp;</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

