
@{
    ViewData["Title"] = "Market Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OTS.Model.Market
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form class="form-horizontal" action="/Market/Update" method="post" onsubmit="theButton.disabled = true; return true;">
                <div class="card-body">
                    <h4 class="card-title">Market Update</h4>
                    <div class="form-group row">
                        <input type="text" name="MarketId" value="@Model.MarketId" hidden >
                        <label for="fname" class="control-label col-sm-2 col-form-label">Market Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="MarketName" name="MarketName" placeholder="Market Name" required value="@Model.MarketName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="control-label col-sm-2 col-form-label">Commision</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Commision" name="Commision" placeholder="Commision Rate" required value="@Model.Commision">
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button name="theButton" type="submit" class="btn btn-warning">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



